apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
{% if apiserver_valid_certs is defined %}
    insecure-skip-tls-verify: true
{% else %}
    certificate-authority: {{ kube_cert_dir }}/ca.pem
{% endif %}
    server: https://{{ kube_apiserver_ip }}
users:
- name: kubelet
  user:
{% if apiserver_valid_certs is defined %}
    client-certificate: {{ kube_cert_dir }}/apiserver-valid.pem
    client-key: {{ kube_cert_dir }}/apiserver-key-valid.pem
{% else %}
    client-certificate: {{ kube_cert_dir }}/node.pem
    client-key: {{ kube_cert_dir }}/node-key.pem
{% endif %}
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-{{ cluster_name }}
current-context: kubelet-{{ cluster_name }}
