apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
{% if apiserver_valid_certs is defined %}
    certificate-authority: "{{ kube_cert_dir }}/{{ apiserver_valid_certs['api_cert_ca_file'] }}"
{% else %}
    certificate-authority: {{ kube_cert_dir }}/ca.pem
{% endif %}
    server: {{ kube_apiserver_endpoint }}
users:
- name: kubelet
  user:
    client-certificate: {{ kube_cert_dir }}/node.pem
    client-key: {{ kube_cert_dir }}/node-key.pem
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-{{ cluster_name }}
current-context: kubelet-{{ cluster_name }}
